{% assign about-the-author-name = site.data.settings.about-the-author.name | default : '' %}
{% assign about-the-author-src = site.data.settings.about-the-author.src | default : '' %}
{% assign about-the-author-width = site.data.settings.about-the-author.width | default : '' %}
{% assign about-the-author-height = site.data.settings.about-the-author.height | default : '' %}
{% assign about-the-author-caption = site.data.settings.about-the-author.caption | default : '' %}

<section class="about-the-author">
    {% if about-the-author-name.size > 0 and about-the-author-src.size > 0 and about-the-author-width.size > 0 and about-the-author-height.size > 0 %}
    <img src="{{ site.baseurl }}{{ about-the-author-src }}" alt="{{ about-the-author-name }}" width="{{ about-the-author-width }}" height="{{ about-the-author-height }}" />
    {% endif %}
    
    <h6>About the Author</h6>

    {% if about-the-author-caption.size > 0 %}
    <p>
        <small>
            {{ about-the-author-caption }}
        </small>
    </p>
    {% endif %}
    
    <div style="margin-top: 15px;">
        <script src="https://ko-fi.com/widgets/widget_2.js"></script>
        <script>
            kofiwidget2.init('Buy me a coffee', '#29abe0', 'C0C42LJ9W');
            kofiwidget2.draw();
        </script>
    </div>
</section>