<section class="about-the-author">
    <img src="{{ site.baseurl }}/assets/img/me-small.jpg" alt="Steven McLintock" width="100" height="100" />
    
    <h6>About the Author</h6>

    <p>
        <small>
            Kilt and Code is the personal website of <a href="{{ site.baseurl }}/about">Steven McLintock</a>, 
            a Scottish software developer living in Stratford, Ontario. Steven primarily uses <a href="https://dotnet.microsoft.com/">.NET</a>, C# and <a href="https://angular.io/">Angular</a> and has been working as a developer since 2006. <a href="mailto:stevenmclintock@fastmail.com">Get in touch!</a>
        </small>
    </p>
    
    <div style="margin-top: 15px;">
        <script src="https://ko-fi.com/widgets/widget_2.js"></script>
        <script>
            kofiwidget2.init('Buy me a coffee', '#29abe0', 'C0C42LJ9W');
            kofiwidget2.draw();
        </script>
    </div>
</section>