<section class="about-the-author">
    <section class="about-the-author-left">
        <img src="{{ site.baseurl }}/assets/img/2019/04/me-waterfall.jpg" alt="Steven McLintock" width="100" height="100" class="circle" />
    </section>
    
    <section class="about-the-author-right">
        <h6>About the Author</h6>

        <p>
            <small>
              {{ site.title }} is the personal website of <a href="{{ site.baseurl }}/about">Steven McLintock</a>, 
              a Scottish software developer living in Stratford, Ontario. Steven primarily uses Microsoft's 
              <a href="https://dotnet.microsoft.com/" title=".NET">.NET</a> platform and has been working 
              as a developer since 2006.
            </small>
        </p>
        
        <div style="margin-top: 15px;">
            <script src="https://ko-fi.com/widgets/widget_2.js"></script>
            <script>
              kofiwidget2.init('Buy me a coffee', '#29abe0', 'C0C42LJ9W');
              kofiwidget2.draw();
            </script>
        </div>
    </section>
</section>