<footer>
  <nav>
    <ul>
        {% for item in site.data.settings.footer-menu %}
        {% assign page-url = page.url | remove: '/' %}
        {% assign item-url = item.url | remove: '/' %}

        {% if page-url == item-url %}
            <li><small><s><a href="{{ item.url }}">{{ item.name }}</a></s></small></li>
        {% else %}
            <li><small><a href="{{ item.url }}">{{ item.name }}</a></small></li>
        {% endif %}
        {% endfor %}
    </ul>
  </nav>
  
  <small><em>{{ site.title }} - {{ site.description }}</em></small>
</footer>