<footer>
    {{ site.title }} | {{ site.description }}
    
    <!--<div class="row mt-2">
      <div class="col-md-12">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="mailto:stevenmclintock@fastmail.com" title="Email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/stevenmclintock/" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
              <a href="https://www.github.com/kiltandcode" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
              <a href="{{ site.baseurl }}/feed.xml" title="RSS"><i class="fa fa-rss" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>-->
  </footer>