<header>
    {% if site.motif.src.size > 0 and site.motif.width.size > 0 and site.motif.height.size > 0 %}
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}{{ site.motif.src }}" alt="{{ site.title }}" width="{{ site.motif.width }}" height="{{ site.motif.height }}" /></a>
    {% endif %}
    <section class="logo-title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </section>

    <nav>
        <ul>
            {% for item in site.header-menu %}
            {% assign page-url = page.url | remove: '/' %}
            {% assign item-url = item.url | remove: '/' %}
    
            {% if page-url == item-url %}
                <li><small><s><a href="{{ item.url }}">{{ item.name }}</a></s></small></li>
            {% else %}
                <li><small><a href="{{ item.url }}">{{ item.name }}</a></small></li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>