/* Include the Rouge theme for code 
syntax highlighting */
@import url('base16.dark.css');

/* Include custom Bootstrap callout
https://cpratt.co/twitter-bootstrap-callout-css-styles/
*/
@import url('bs-callout.css');

/* Google Fonts (Lora) */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,700;1,500;1,700&display=swap');

html, body {
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #333 !important;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #333 !important;
}

hr {
  background-color: #d6d9de;
}

/* Override the default Rouge theme */
.highlighter-rouge {
  margin-bottom: 2rem;
}

.highlighter-rouge .highlight {
  border-radius: 0.5rem;
  margin-bottom: 0;
  padding: 0.5rem;
}

/* Custom social icons */
.custom-social a {
  color: rgba(0,0,0,.5);
}

.custom-social a:hover {
  color: rgba(0,0,0,.7);
}

/* Custom logo */
.custom-logo {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}