/* Include the Rouge theme for code 
syntax highlighting */
@import url('base16.dark.css');

/* Include custom Bootstrap callout
https://cpratt.co/twitter-bootstrap-callout-css-styles/
*/
@import url('bs-callout.css');

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #333 !important;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #333 !important;
}

/* Override the default Rouge theme */
.highlighter-rouge {
  margin-bottom: 2rem;
}

.highlighter-rouge .highlight {
  border-radius: 0.5rem;
  margin-bottom: 0;
  padding: 0.5rem;
}

/* Social icons */
.social a {
  color: rgba(0,0,0,.5);
}

.social a:hover {
  color: rgba(0,0,0,.7);
}