---
layout: default
title: Home
---

<div class="card-columns mb-4">
    {% for post in paginator.posts %}
        <div class="card shadow">
            <div class="card-body">
                {% if post.image %}
                    <div style="width: 150px;" class="mb-4 mx-auto">
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" class="img-fluid rounded" />
                        </a>
                    </div>
                {% endif %}

                <h5 class="card-title">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h5>
                <p class="card-text">
                    <small>
                        {{ post.content | strip_html | truncate: 200 }} <a href="{{ site.baseurl }}{{ post.url }}">read more</a>
                    </small>
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        {%
                            include written-on.html
                            date=post.date
                        %}
                    </small>
                </p>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Pagination links -->
<ul class="list-inline text-center">
    <li class="list-inline-item">
        {% if paginator.next_page %}
        <a class="btn btn btn-outline-secondary" href="{{ site.baseurl }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
        {% else %}
        <a class="disabled btn btn btn-outline-secondary">{{ site.data.settings.pagination.previous_page }}</a>
        {% endif %}
    </li>

    <li class="list-inline-item">
        {% if paginator.previous_page %}
        <a class="btn btn btn-outline-secondary" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
        {% else %}
        <a class="disabled btn btn btn-outline-secondary">{{ site.data.settings.pagination.next_page }}</a>
        {% endif %}
    </li>
</ul>