---
layout: default
---

<div class="row">
  <div class="col-md-8">
    <article>
      <h1>
        {{ page.title }}
      </h1>

      <div class="text-secondary small mb-4">
        {%
          include written-on.html
          date=page.date
          author=page.author
        %}
      </div>
      
      {{ content }}
    </article>
    <div class="content">
      
    </div>
  </div>
  <div class="col-md-3 offset-md-1">
    <div class="card bg-light shadow">
      <div class="card-body">
          <img src="{{ site.baseurl }}/assets/img/2019/04/me-waterfall.jpg" alt="Steven McLintock" width="100" height="100" class="rounded-circle img-fluid mx-auto d-block mb-3" />
          <p class="card-text text-center">
              <small>
                Kilt &amp; Code is a blog written by Steven McLintock, a full-stack developer originally from Scotland. Steven primarily uses Microsoft's .NET framework in addition to Angular and has been working as a developer since 2006.
              </small>
            </p>

            <ul class="list-inline text-center social">
              <li class="list-inline-item">
                <a href="mailto:steven@kiltandcode.com" title="Email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="http://www.linkedin.com/in/kiltandcode/" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="https://www.github.com/kiltandcode" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="{{ site.baseurl }}/feed.xml" title="RSS"><i class="fa fa-rss" aria-hidden="true"></i></a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>